body{
	background-image: linear-gradient(20deg, rgba(53, 141, 228, 0.5) 20%, rgba(69, 35, 189, 0.5) 40%);
	font-family: Arial, sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	background-color: none;
	padding: 30px;
	width : 100%;
	display: flex;
	position: relative;
	top: 0%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transform: scale(0.7) translateY(-30px);
}

.header{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
	padding: 30px;
	width: 1200px;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	position: relative;
	top: 30px;
	margin-bottom: 30px;
}

.header h1{
	font-size: 65px;
	position: relative;
	left: 25%;
	text-align: center;


}

.header p{
	font-size: 30px;
	right: 20px;
}

.Time_Left_Objectives p{
	font-size: 25px;
	left: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

#Survival_Mode{
	background-color: #03b62d; 
	color: white;           
	padding: 15px 32px;      
	font-size: 25px;          
	border: none;              
	border-radius: 8px;        
	cursor: pointer;          


}
#Survival_Mode:hover{
	background-color: #ff0000;
}


.Score p{
	font-size: 22px;
	position: relative;
	right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 500px;
	gap: 30px;

}



.game_board{
	background-color: #deac7d;
	border-radius: 10px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
	position: relative;
	margin-top: 10px;
	padding: 30px;
	width: 1200px;
	height: 800px;
}

/* les éléments que player et player_bordypart on en commun */
.player, .player_bodypart{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

.player{
	background-image: url('img/shenron.png');
	background-size: cover;
	background-repeat: no-repeat;
	transform: scale(2.5) rotate(-90deg);
	z-index: 2;
	image-rendering: pixelated;
}

.player_body{
	position: relative;
	transform: translateY(0px) translateX(50px);
}

.player_bodypart{
	background-image: url('img/bodypart.png');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	image-rendering: pixelated;

}

#player_bodypart_1{
	left: 0px;
	top: 0px;
}

#player_bodypart_2{
	left: 50px;
	top: 0px;
	
}

.player_bodypart{
	background-color: #2f00ff;
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

.apple{
	background-image: url('img/apple.png');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	width: 50px;
	height: 50px;
	/* Cela rend l'élément positionnalbe */
	position: absolute;
	z-index: 1;
	image-rendering: pixelated;
	transform: scale(1.5);
}

.laser{
	background-color: #ff00ff;
	border-radius: 20px;
	width: 80px;
	height: 10px;
	position: absolute;
	opacity: 0;
}

.enemy{
	background-image: url('img/pilaf.png');
	background-size: cover;
	background-repeat: no-repeat;

	border-radius: 10px;
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 1;
	image-rendering: pixelated;
	transform: scale(2.5);
}
.enemy_projectile{
	background-color: #ffee00;
	border-radius: 50px;
	width: 25px;
	height: 25px;
	position: absolute;
	opacity: 0;
}

.Victory{
	position: absolute;
	color: green;
	font-size: 200px;
	font-weight: bold;
	visibility: hidden;
	position: absolute;
	margin-top: 400px;
	z-index: 2;
}

.Defeat{
	position: absolute;
	color: red;
	font-size: 200px;
	font-weight: bold;
	visibility: hidden;
	position: absolute;
	margin-top: 400px;
	z-index: 2;
}
